@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 80vw;
  background-color: #ffffff87;
  left: 10vw;
  top: 2.5vh;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  left: 0;
  bottom: 0;
  justify-content: center;
  position: fixed;
  z-index: 100;
} 

.footer p {
  color: #fffdfd;
  font-size:  13px;
  font-weight: 500;
  margin: 0;
}

.footer a {
  color: #6f6bf0;
  font-weight: 600;
}

.footer a:hover {
  color: #2521a5;
}

@media (max-width: 740px) {
  .container {
      flex-direction: column;
      width: 85vw; 
      height: auto; 
      padding: 10px;
  }
}