@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 80vw;
  background-color: #ffffff87;
  left: 10vw;
  top: 5vh;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 942px) {
  .container {
      flex-direction: column;
      width: 90vw; 
      height: auto; 
      padding: 10px;
  }
}