.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 485px;
    width: 350px;
    position: absolute;
    background: #ffffff87;
    left: calc(50vw - 175px);
    top: calc(50vh - 240px);
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    font-family: "Euclid Circular A", "Poppins";
    height: 465px;
    width: calc(350px - 20px);
    position: absolute;
    border-radius: 15px;
    padding: 45px 10px;
  }
  
  .textbox {
    position: relative;
    margin-bottom: 16px;
  }
  
  .textbox :is(label, span) {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
    color: #888888;
    transition: 0.3s;
  }
  
  .textbox > label {
    left: 44px;
    translate: 0 -50%;
    padding: 4px 8px;
  }
  
  .textbox > .icon {
    z-index: 2;
    left: 16px;
    font-size: 26px;
  }
  
  .textbox > input {
    height: 56px;
    width: 240px;
    padding-left: 48px;
    border: 2px solid #888888;
    border-radius: 8px;
    outline: none;
    background: transparent;
    color: #000000;
    font-family: inherit;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .textbox > input.valid.had-value {
    border-color: #14ca99;
  }
  
  .textbox > :is(input:focus, .has-value) {
    border-color: #000000;
  }
  
  .textbox > input.had-value {
    border-color: #ff5360;
  }
  
  .textbox > :is(input:focus, .has-value, .had-value) ~ span {
    color: #000000;
  }
  
  .textbox > :is(input:focus, .has-value, .had-value) ~ label {
    background: #ffffff;
    color: rgb(0, 0, 0);
    translate: -42px -42px;
    scale: 0.8;
  }
  
  @keyframes spin {
    100% {
      rotate: 1turn;
    }
  }
  
  .spinner {
    position: absolute;
    top: 50%;
    right: 16px;
    translate: 0 -50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid rgb(255 255 255 / 14%);
    border-top-color: #000000;
    opacity: 0;
    animation: spin 1s infinite linear;
  }
  
  .spinner.visible {
    opacity: 1;
  }
  
  .signin-button {
    width: 240px;
    height: 56px;
    border-radius: 6px;
    border: 0;
    font-family: inherit;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    justify-content: space-between;
    background: #2e3231d8;
    color: #f7f7f7;
    transition: 0.3s;
  }
  
  .signin-button:disabled {
    opacity: 0.33;
  }

  .signin-button:hover {
    background: #2e3231;
  }

 .signup {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    margin-top: 16px;
    cursor: pointer;
  }